@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Shadows+Into+Light+Two&display=swap');

/* font-family: 'Shadows Into Light', cursive;
font-family: 'Shadows Into Light Two', cursive; */



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'Shadows Into Light Two', cursive;
    color: rgb(20, 20, 20);
}

body{
    font-family: 'Shadows Into Light', cursive;
    background-image: url('papel.png');
    font-size: 21px;
}

a{
    text-decoration: none;
}

header{
    background-position: center center;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: cover;
    height: 500px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header a {
    color: white;

    font-size: 7vw;
    text-shadow: 0 0 3px white;
    transition: all ease 200ms;
    transition-delay: 200ms;
}

header a:hover {
    color: white;

    font-size: 8vw;
    text-shadow: 0 0 5px white;
}


.wrap{
    margin: 30px auto;
    width: 960px;
    max-width: 85vw;
}

.wrap p, h1, h2, h3, h4, h5, h6{
    text-indent: 15px;
}

div.cardArea{
    margin: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

div.card{
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 36px;
    margin: 5px;

    background-position: center center;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: cover;

    border-radius: 10px;
}


div.card > * {
    display: flex;
    backdrop-filter: blur(3px);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;

    transition: all ease-in 200ms;
}

div.card:hover > * {
    display: flex;
    backdrop-filter: blur(1px);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div.encantamento{
    background-image: url('encantamento.jpg');
}

div.pocoes{
    background-image: url('pocoes.jpg');
}

div.regras{
    background-image: url('regras.jpg');
}

div.ocupacoes{
    background-image: url('ocupações.jpg');
}

div.religiao{
    background-image: url('templo.jpg');
}

img{
    max-width: 100%;
    margin: 15px 0;

    border: 10px double rgb(192, 158, 7);
}


@media screen and (max-width: 960px){
    header{
        height: 250px;
    }
    header a {
        font-size: 36px;
    }
    div.card{
        width: 230px;
        height: 230px;
    }
}