header{
    background-image: url('pocoes.jpg');
}

hr{
    border-color: brown;
    margin: 10px 0;
}

input{
    background-color: transparent;
    border: 2px solid brown;
    padding: 7px;
    font-family: inherit;
    font-size: 24px;
    width: 30%;
}

button{
    width: 15%;
    font-family: inherit;
    font-size: 24px;
    background-color: brown;
    color: white;
    border: double 5px rgb(192, 158, 7);
    transition: all ease 200ms;
    transition-delay: 100ms;
}

button:hover{
    cursor: pointer;
    color: rgb(192, 158, 7);
    background-color: rgb(129, 16, 16);
}

.searchArea{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-evenly;
}

@media screen and (max-width: 960px){
    .searchArea{
        flex-direction: column;
        
    }
    .searchArea > *{
        width: 100%;
        margin: 5px;
    }
}