header{
    background-image: url('regras.jpg');
}
.wrap > p{
    margin: 15px 0 30px;
}
.ativo::after{
    content: 'Status: Ativo';
    color: green;
}
.inativo::after{
    content: 'Status: Inativo';
    color: red;
}